{% extends 'authy/base.html' %}

{% load static %}

{% block content %}

    <div class="content-right">
        <div class="login-form">
            <img src="{% static 'images/innovahtecsolutions_circle.svg' %}" alt="">
            {% if messages %}
                <a class="container-success" href="{% url 'authy:login' %}">
                    <img src="{% static 'images/check-icon.png' %}" alt="">
                    <p>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </p>
                </a>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <p>
                    <span class="p-bold">Username</span><br>
                    {{ form.username }}
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <span class="field-error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
{#                    <input type="text" placeholder="Enter your email" name="email">#}
                </p>
                <p>
                    <span class="p-bold">Email</span><br>
                    {{ form.email }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <span class="field-error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
{#                    <input type="text" placeholder="Choose an username" name="username">#}
                </p>
                <div class="two-columns">
                    <p>
                        <span class="p-bold">First Name</span><br>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            {% for error in form.first_name.errors %}
                                <span class="field-error">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
{#                        <input type="text" placeholder="Enter your name" name="name">#}
                    </p>
                    <p>
                        <span class="p-bold">Last Name</span><br>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            {% for error in form.last_name.errors %}
                                <span class="field-error">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
{#                        <input type="text" placeholder="Enter your last name" name="last_name">#}
                    </p>
                </div>
                <p>
                    <span class="p-bold">Password</span><br>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        {% for error in form.password1.errors %}
                            <span class="field-error">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
{#                    <input type="password" placeholder="Choose a password" name="password">#}
                </p>
                 <p>
                    <span class="p-bold">Password Confirmation</span><br>
                     {{ form.password2 }}
                     {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                            <span class="field-error">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
{#                    <input type="password" placeholder="Choose a password" name="password_confirm">#}
                </p>
                <p>
                    <button type="submit" class="btn-register">Create an account</button>
                </p>
            </form>
            <div class="or">
                <div class="line"></div>
                <p>or</p>
                <div class="line"></div>
            </div>
            <div class="btn-login-google">
                <img src="{% static 'images/source_icons_google.svg' %}" alt="">
                <p>Continue with Google</p>
            </div>
            <div class="create-account">
                <p>Already have an account?</p>
                <a href="{% url 'authy:login' %}">Log in</a>
            </div>
        </div>
    </div>

{% endblock %}